html {
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font: normal 300 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark;
  letter-spacing: 0.05em;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header {
  width: 100%;
  display: block;
  height: 45px;
  background-color: $blueish;
  flex-flow: 0 1 auto;
}

.user-info, .user-info input {
  font-weight: 400;
  letter-spacing: 0.2em;
  color: $white;
  font-size: 16px;
  &:hover {
    background-color: $chat-grey;
    color: $dark;
  }
}

.user-info {
  float: left;
  line-height: 45px;
  color: $white;
  padding: 0 15px;
}

.user-info input {
  background-color: $blueish;
  border: none;
  padding: 0;
}

.user-info input.focus {
  background-color: $chat-grey;
  color: $dark;
}

#main {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
}

p {
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}