/* CHAT WINDOW */
#chat-window {
  position: relative;
  // height: 100%;
  width: 70%;
  // display: inline-block;
  float: left;
  background-color: $chat-grey;
}

.message-list {
  padding: 25px;
}

.message-block {
  margin-bottom: 30px;
}

.message-detail {
  margin-bottom: 10px;
}

.message {
  max-width: 65%;
  min-width: 35%;
  padding: 10px;
  border-radius: 3px;
}

.submit-message {
  position: fixed;
  width: 70%;
  height: 40px;
  border-top: solid 1px $chat-border;
  bottom: 0;
  padding: 20px;
  background-color: $chat-grey;
  box-shadow: 3px 1px 5px rgba(133, 137, 150, 0.29);
}

.submit-message .input-message, .submit-message .input-button {
  font-size: 16px;
  border-radius: 2px;
  vertical-align: middle;
}

.submit-message .input-message {
  width: 75%;
  border: none;
  padding: 12px;
  // display: inline-block;
  margin-right: 12px;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $light-blue
  }
}

.submit-message .input-button {
  width: 10%;
  float: right;
  background-color: #696996;
  color: #fafafc;
  // padding: 10px;
  border: none;
  font-variant: small-caps;
  line-height: 36px;
  margin-right: 6%;
}

.submit-message .input-button:hover {
  background-color: #6969B6;
}

.message {
  background-color: $white;
}

.sent-from {
  margin-right: 20px;
  font-weight: 400;
}

.emoji-container {
  background-color: $white;
  position: fixed;
  bottom: 0;
  height: 80px;
  overflow-y: scroll;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 3px 1px 5px rgba(133, 137, 150, 0.29);
  webkit-transition: height .3s;
  transition: height .3s;
  &.show {
    height: 160px;
  }
}

.emoji-item {
  webkit-transition: height .3s;
  transition: height .3s;
  padding: 5px;
  &:hover {
    font-size: 25px;
  }
}