/* CHAT WINDOW */
.chat-window {
  position: relative;
  // height: 100%;
  width: 70%;
  // display: inline-block;
  float: left;
  background-color: $chat-grey;
}

.message-list {
  padding: 25px;
}

.message-block {
  margin-bottom: 30px;
}

.message-detail {
  margin-bottom: 10px;
}

.message {
  max-width: 65%;
  min-width: 35%;
  padding: 10px;
  border-radius: 3px;
}

.submit-message {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  // padding: 10px;
  background-color: $light-blue;
}

.submit-message .input-message, .submit-message .input-button {
  font-size: 16px;
  border-radius: 2px;
  vertical-align: middle;
}

.submit-message .input-message {
  width: 80%;
  border: none;
  // padding: 10px;
  // display: inline-block;
}

.submit-message .input-button {
  width: 14%;
  background-color: #696996;
  color: #fafafc;
  // padding: 10px;
  border: none;
  font-variant: small-caps;
}

.submit-message .input-button:hover {
  background-color: #6969B6;
}

.message {
  background-color: $white;
}

.sent-from {
  margin-right: 50px;
}