/* CHAT ROOM LIST */

.sidebar {
  // height: 100%;
  position: relative;
  // display: inline-block;
  background-color: $white;
}

.sidebar-header {
  text-align: center;
  font-weight: 200;
  font-variant: small-caps;
}

.sidebar-left {
  float: left;
  width: 30%;
  border-right: solid 1px $border;
}

.sidebar-right {
  float: right;
  width: 20%;
  border-left: solid 1px $border;
}

.active-item {
  border-right: solid 3px $light-blue;
  background-color: rgba(151, 229, 221, 0.1);
}

/* CHAT ROOM LIST ITEMS */

.sidebar-item {
  padding: 20px 15px;
  border-top: solid 1px $border;
  &:last-child {
    border-bottom: solid 1px $border;
  }
}

.room-item {
  &:hover {
    background-color: $hover-grey;
  }
}

.room-title {
  margin-bottom: .5em;
  font-weight: 400;
  display: inline-block
}

.alert-bubble {
  display: none;
  float: right;
  background-color: #f0716a;
  text-align: center;
  border-radius: 50%;
  color: #fafafc;
  font-weight: 400;
  width: 20px;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  &.show {
    display: inline-block;
  }
}

.room-title, .room-time {
  // display: inline-block;
}

.room-time, .room-participants, .sent-from, .sent-time {
  font-size: 12px;
  color: $light-text;
}

.room-participants {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  height: 22px;
}

.room-time {
  float: right;
}