// Font
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Colors
$dark          : #4B4B54;
$blueish       : #59617b;
$white         : #fafafc;
$purple        : #696996;
$lightgrey     : #d7d7dd;
$darkgrey      : #9e9aa0;
$tapina        : #82b4b7;
$greenish      : #2dc0bd;
$light-blue     : #97e5dd;
$border        : #E4E4E5;
$hover-grey    : #DDDDDD;
$light-text    : #AAAAAE;
$chat-grey     : #D2D4DA;

body {
  color: $tapina;
}